*{
  box-sizing: border-box;

  --background-access: #590902;
  --background-sign: #590902;
  --background-header: #590902;
  --background-modal: #590902;
  --modal-button: #590902;
  --background-page: #BACBD9;
  --nav-hover: #BACBD9;
  --placeholder-color: #BACBD9;
  --background-input: #FFF;
  --background-card: #FFF;
  --background-button: #FFF;
  --modal-color: #FFF;
  --icon-color: #8C7561;
  --link-color: #402A22;
  --backdrop: rgba(0,0,0,0.6);
  --divider: #BF3F57;

  --main-font: 'Ubuntu';

  --header-height: 10vh;
  --card-height: 40vh;
  --button-height: 5vh;
  --card-width: 65vw;
  --button-width: 15vw;
  --card-padding: 1vw;
  --nav-width: 15vw;
  --search-box: 5vh;
}

html, body, .root{
  font-family: var(--main-font);
  background-color: var(--background-page);
};

body a{
  text-decoration: none;
}

body input{
  font-family: var(--main-font);
}

body input::placeholder{
  font-family: var(--main-font);
}