*{
  box-sizing: border-box;

  --background-access: #590902;
  --background-page: #BACBD9;
  --background-input: #FFF;
  --placeholder-color: #BACBD9;
  --link-color: #402A22;
  --background-button: #590902;

  --background-color:#151515;
  --background-color-header:#333333;
  --background-post-url: #FFFFFF;
  --post-color: #707070;
  --button-text: #FFFFFF;

  --main-font: 'Ubuntu';
}

html, body, .root{
  font-family: var(--main-font);
  background-color: var(--background-page);
};

body a{
  text-decoration: none;
}